html, body{
  font-family: sans-serif;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  /* background: rgba(212, 252, 121);   */
  background-image: linear-gradient(to bottom,rgba(212, 252, 121, 0.5),rgba(150, 230, 161, 0.5)), url('/images/geometric-leaves.png');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: auto;
  transition: background-color 3s linear;
}

header{
  width: 100%;
  height: 200px;
  margin: 0 auto;
  justify-content: center;
  font-size: 2em;
/*  background-image: url("/images/header-background.jpg"); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
}

.container{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.flex-span{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-card-element{
  opacity: .75;
  position: relative;
  width: 60%;
  max-width: 600px;
  margin: 80px auto 0;
  padding: 40px;
  transition: all .5s ease-out;
  border-radius: 50px;
  background-color: white;
}

.flex-card-element.right:after{
  margin-left: 50px;
  content:"";
  position:absolute;
  border-style:solid;
  display:block;
  width:0;
  top: 50px; /* value = - border-top-width - border-bottom-width */
  left: auto; /* controls horizontal position */
  bottom:auto;
  right:-25px;
  border-width: 0px 25px 25px 15px; /* vary these values to change the angle of the vertex */
  border-color:white transparent;
}

.flex-card-element.left:after{
  margin-left: 50px;
  content:"";
  position:absolute;
  border-style:solid;
  display:block;
  width:0;
  top: 50px; /* value = - border-top-width - border-bottom-width */
  left:-75px; /* controls horizontal position */
  bottom:auto;
  right:auto;
  border-width: 25px 15px 0px 25px; /* vary these values to change the angle of the vertex */
  border-color:white transparent;
}


.flex-card-element:hover{
  transition: all .5s ease-out;
  padding: 45px;
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 28px 39px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 39px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 28px 39px -12px rgba(0,0,0,0.75);
}

.button{
  height: 100px;
  margin: 80px auto;
  justify-content: center;
}

button{
  transition: all .2s ease-out;
  background-color: rgba(255,255,255,.7);
  color: rgba(255,255,255,.4);
  border-radius: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 20px;
  font-size: 1.5em;
}

button:hover{
  transition: all .2s ease-out;
  padding: 22px;
  background-color: rgba(255,255,255,1);
  cursor: pointer;
  -webkit-box-shadow: 0px 18px 19px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 18px 19px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 18px 19px -12px rgba(0,0,0,0.75);
}

button:active{
  transition: all .05s ease-out;
  padding: 20px;
  background-color: rgba(255,255,255,1);
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

h1{
  margin: 50px auto ;
  padding: 60px;
  color: black;
}

.fadeout{
  opacity: 1;
  transition: 1s opacity;
}
